<!-- <h1>{{ .Site.Title }}</h1> -->
<div class="site-header">
    <h1><img style="height: 50px; vertical-align: middle; margin-right: 10px;" src="/images/ugo-logo.png" alt="UGO logo" />{{ .Site.Title }}</h1>
    <button id="theme-toggle" class="theme-toggle" type="button" aria-label="Toggle color theme" aria-pressed="false">
        <img id="theme-toggle-icon" class="theme-toggle-icon" src="/light-mode.svg" alt="">
    </button>
</div>
<nav>
    {{ range .Site.Menus.main }}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
</nav>
<br>
